<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Counter</title>
</head>

<body>
    <h1>Counter</h1>
    <p>Current count: {{session['currentCount']}} </p>
    <p>Total count: {{session['totalCount']}} </p>

    <div>
        <input type="button" onclick="location.href='/count'" value="Click" />
        <input type="button" onclick="location.href='/countTwice'" value="+2" />
        <input type="button" onclick="location.href='/destroy_session'" value="Reset" />
    </div>
    <form action="/countIncrease" method="POST">
        <input type="number" name="countIncreaseByNum" />
        <input type="submit" value="Submit" />
    </form>
</body>

</html>