* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

/* Fixed width container class that will "auto-center" itself */
.main {
	width: 700px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	gap: 50px;
}

/* .main:first-child {
	display: flex;
	justify-content: center;
} */

.container {
	border: 2px solid black;
	margin: 0 0 10px 0;
}

.container-user {
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border: 2px solid black;
}

.name {
	font-size: x-large;
}

.container-user > * {
	margin: 5px;
}

.user-icon {
	height: 70px;
	width: 70px;
}

.container-top {
	display: flex;
	padding: 10px;
	gap: 10px;
	align-items: center;
}

.container-top :first-child {
	flex: 2;
}

.container-top :last-child {
	flex: 1;
}

.container-bottom {
	padding: 10px;
}

.like-button {
	background-color: yellow;
	border: 2px solid black;
	box-shadow: 2px 2px black;
	padding: 5px 10px;
	cursor: pointer;
}

.header {
	background-color: #3b3b3b;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 10px 15px 13px 15px;
	width: 700px;
	margin: 0 auto;
	background-color: #3b3b3b;
}

.nav-title {
	font-size: x-large;
}

.page-title {
	text-align: center;
	margin: 10px auto;
	font-size: x-large;
}
