* {
	margin: 0;
	padding: 0;
}

body {
	background-color: antiquewhite;
}

#board {
	width: 500px;
	height: 500px;
	margin: auto;
	vertical-align: middle;
}

.row {
	/* height: 50px; */
	/* width: 100%; */
	/* background-color: rebeccapurple; */
	/* margin: 5px 0; */
	display: flex;
	/* justify-content: space-between; */
	/* gap: 20px; */
}

.column {
	/* background-color: green; */
	height: 50px;
	width: 50px;
	/* display: inline-block; */
}

/* .black {
	background-color: black;
}

.red {
	background-color: red;
} */
