* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: monospace;
}

/* Fixed width container class that will "auto-center" itself */
.main {
	width: 1200px;
	margin: 0 auto;
}

.row {
	display: flex;
	align-content: space-between;
}

.col {
	flex: 1;
}

.header {
	background-color: #3b3b3b;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: white;
	padding: 10px 15px 13px 15px;
	width: 1200px;
	margin: 0 auto;
	background-color: #3b3b3b;
}

.nav-title {
	font-size: x-large;
}

.nav-links {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 20px;
}

.nav-search,
.nav-search:focus {
	width: 50%;
	height: 30px;
	outline: none;
	padding: 5px;
}

.nav-btn {
	background-color: #0f3e8a;
	border: 2px solid black;
	color: white;
	padding: 5px 30px;
	box-shadow: 3px 3px black;
	cursor: pointer;
}

.main {
	display: flex;
}

.card {
	background-color: teal;
	color: white;
	border: 2px solid black;
	margin: 5px;
	padding: 5px;
}
