<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}" />
    <title>Checkerboard</title>

</head>

<body>
    <div id="board">
        {% for board_row in range(0,boardRow):%}
        <div class="row">
            {% for board_col in range(0, boardColumn): %}
            {% if board_row % 2 == 0: %}
            {% if board_col % 2 == 0 %}
            <div class="column" {{color1}}></div>
            {% else :%}
            <div class="column" {{color2}}></div>
            {% endif %}
            {% else %}
            {% if board_col % 2 == 0 %}
            <div class="column" {{color2}}></div>
            {%else: %}
            <div class="column" {{color1}}></div>
            {% endif %}
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>

</html>