<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AJAX Testing</title>
</head>

<body>
    <form id="lookup_form">
        <label for="user">Get User</label>
        <input type="text" name='user' id="user_name" />
        <button type="submit">Click me</button>
    </form>

    <div id="account"></div>

    <script src="{{url_for('static',filename='script.js')}}"></script>
</body>

</html>